.question-bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  form {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0;
  }
  
  textarea,
  input {
    margin: 5px 0;
  }
  